<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Folder Name</title>
    <link rel="stylesheet" type ="text/css" href="/style.css"/>
</head>
<body>
    <%- include('navbar', {links: links, title: title}) %>
    <form action="/editFolderName" method="POST">
        
        <label for="newName">New Folder Name</label>
        <input id="newName" name="newName" type="text" value = "<%=folders[0].foldername%>"/>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>