<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type ="text/css" href="/style.css"/>
</head>
<body>
    <%- include('navbar', {links: links, title: title}) %>
    <% for (let i = 0; i < folders.length; i++) { %>
        <li>
          <div class = "folder">
            <p><%=folders[i].foldername%></p>
            <form action="profile/<%=folders[i].folderId%>" method = "GET">
              <button>Delete</button>
            </form>
          </div>
        </li>
      <% } %>
</body>
</html>