<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" type ="text/css" href="/style.css"/>
</head>
<body>
    <%- include('navbar', {title: title}) %>
    <form action ="" method="get" enctype="multipart/form-data">
        <label for="selectFile">Select a file:</label>
        <input type="file" id="selectFile" name="selectFile">
        <button type="submit">Submit</button>
    </form>
</body>
</html>