* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

nav{
    background-color: lightblue;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav li {
    display: inline-block;
    padding-left: 8px;
}